name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron:  '0 0 1 */3 *'    # Every 3 months
env:
  NET_VERSION: 10.0.100
  PROJECT_PATH: 'Scr/Breadcrumb.csproj'
  NUGET_PATH: './**/IeuanWalker.Maui.Breadcrumb.1.0.0.nupkg'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Display dotnet info
      run: dotnet --info
    
    - name: Setup .NET ${{ env.NET_VERSION }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.NET_VERSION }}
        
    - name: Install .NET MAUI ${{ env.NET_VERSION }}
      run: dotnet workload install maui --ignore-failed-sources

    - name: Display dotnet info
      run: dotnet --info
        
    - name: Restore dependencies
      run: dotnet restore ${{ env.PROJECT_PATH }}
      
    - name: Build
      run: dotnet build ${{ env.PROJECT_PATH }} -c Release --no-restore
      
    - uses: actions/upload-artifact@v4
      with:
        name: NuGet
        path: ${{ env.NUGET_PATH }}
